// Sample colors
$colors: #3cb5b5, #fcd920, #e53b51, #fffeff, #ec6c20;

body {
    background-color: #3c89b6;
    color: #fff;
    font: 16px/1.3 "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #febc1f;

    transition: color .3s;
    -webkit-transition: color .3s;

    &:hover {
        color: lighten(#febc1f, 10);
        text-decoration: none;
    }

    &:visited, &:focus, &:active {
        text-decoration: none;
        color: #febc1f;
    }
}

.page {
    width: 960px;
    margin: 0 auto;

    > .header {
        position: relative;

        .logo {
            font-weight: 300;
            font-size: 40px;
            display: inline-block;
            margin-right: 16px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        .slogan {
            font-size: 14px;
            opacity: .6;
        }

        .user-menu {
            position: absolute;
            right: 0;
            top: 38px;
            line-height: 24px;
        }
    }

    > .footer {
        font-size: 12px;
        font-style: italic;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 6px 12px;
    }
}

[id^=noty][id$=_layout_container] > li {
    border-radius: 0 !important;
    border-color: rgba(0, 0, 0, .1) !important;
}
