.dashboard {
    margin-top: 20px;

    .event {
        margin: 10px;
        padding: 4px;
        overflow: hidden;
        transition: all .3s;

        &.highlighted, &.highlighted:hover {
            background-color: #fdff72;
            color: #c50;

            .sms-text {
                background-color: rgba(255, 255, 255, .4);
                color: #c50;
            }

            .icon .arrow {
                color: #c50;
            }

            .contact a {
                color: #c50;
            }
        }

        &.slow-transition {
            transition-duration: 1.5s;
        }

        .icon {
            float: left;
            margin-right: 40px;
            font-size: 24px;
            background-color: #2dbbe7;
            color: #3c89b6;
            width: 40px;
            height: 40px;
            line-height: 32px;
            padding: 5px 0;
            text-align: center;
            position: relative;
            box-sizing: border-box;

            .arrow {
                font-size: 20px;
                color: #fff;
                position: absolute;
                left: 100%;
                top: 50%;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                margin-left: 10px;
            }
        }

        &.missed .icon, &.unread .icon {
            background-color: #ff9393;
        }

        &.answered .icon, &.read .icon {
            background-color: #88ff70;
        }

        .status, .date {
            font-size: 14px;
            line-height: 12px;
        }

        .top-line {
            line-height: 1;
            margin-bottom: 2px;
        }

        .status {}

        .date {
            opacity: .5;
        }

        .contact {
            a {
                font-size: 14px;
            }

            .unknown {
                opacity: .5;
                font-size: 14px;
            }
        }

        .wrap {
            float: left;
            width: 240px;
        }

        .sms-text {
            background-color: rgba(255, 255, 255, .2);
            color: #fff;
            font-size: 14px;
            padding: 11px 16px;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            transition: all .3s;
        }

        &:hover {
            background-color: rgba(255, 255, 255, .2);

            .sms-text {
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }

    .brief {
        margin-left: 20px;
        width: 200px;
        float: right;
        font-size: 14px;
        padding: 0 16px 0 20px;
        border-left: 4px solid rgba(255, 255, 255, .2);
        color: #fff;
    }
}
